@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.flex-1 {
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.auth-page {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.auth-card {
    min-width: 541px;
    background: var(--md-sys-color-surface);
    border: 1px solid #C00010;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-image {
    margin-top: 42px;
    width: 125px;
    height: 125px;
}

.auth-app-name {
    margin-top: 24px;
}

.login-bottom-text {
    margin-top: 16px;
    margin-bottom: 53px;
}

.register-date-text {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 54px;
}

.register-date-picker {
    margin-left: 26px;
}

.register-gender {
    width: 100%;
    margin-left: 43px;
}

.register-gender-text {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 6px;
}

.register-radio-group {
}

.register-radio-group label {
    margin-right: 8px;
}

.register-radio-group input {
    margin-right: 6px;
}

.register-bottom-div {
    margin-bottom: 53px;
}

.error-span {
    color: var(--md-sys-color-error);
}

.auth-button {
    width: 238px;
    margin-top: 40px;
}

.button-primary {
    border-radius: 15px;
    background: var(--md-sys-color-primary);
    text-align: center;
    padding: 0 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-primary span {
    color: var(--md-sys-color-on-primary);
}

.button-outlined {
    border-radius: 15px;
    border: 1px solid var(--md-sys-color-primary);
    background: var(--md-sys-color-surface);
    text-align: center;
    padding: 0 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-outlined span {
    color: var(--md-sys-color-on-surface);
}

.form-control {
    box-sizing: border-box;
    width: 90%;
    position: relative;
    margin-top: 16px;
}

.form-control input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #333;
    background: var(--md-sys-color-surface);
    padding: 8px 0;
    display: block;
    transition: 0.1s ease-in;
}

.form-control input:focus,
.form-control input:valid {
    border-bottom-color: var(--md-sys-color-primary);
    outline: none;
}

.form-control label input:focus,
.form-control input:valid {
    border-bottom-color: var(--md-sys-color-primary);
    outline: none;
}

.survey-container {
    padding: 32px;
}

.survey-container-body {
    margin-top: 16px;
    margin-bottom: 24px;
}

.survey-qas-container {
    background: var(--md-sys-color-secondary-container);
    border-radius: 15px;
    padding: 8px;
}

.survey-question {
    margin-bottom: 12px;
}

.survey-radio-button-group {
    margin-bottom: 32px;
}

.survey-radio-button {
    margin-bottom: 8px;
}

.survey-radio-button input {
    margin-right: 8px;
    transform: translateY(15%);
}

.survey-error-span {
    margin-top: 16px;
}

.mission-section {
    margin: 32px;
    align-items: center;
}

.mission-text {
    margin-top: 24px;
    text-align: center;
}

.mission-auth-section {
    margin-top: 32px;
    align-items: center;
    margin-bottom: 32px;
}

.mission-auth-or-text {
    margin-left: 16px;
    margin-right: 16px;
}

.profile-card-short {
    background: var(--md-sys-color-inverse-on-surface);
    border-radius: 15px;
    width: 100%;
    height: 300px;
    margin-bottom: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.profile-card-short-img {
    border-radius: 15px;
    object-fit: cover;
    width: 372px;
}

.profile-card-short-info {
    flex: 100;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

.profile-card-short-name {
    margin-top: 18px;
}

.profile-card-short-line {
    border: 1px solid var(--md-sys-color-on-surface);
    width: 100%;
    margin-top: 12px;
    margin-bottom: 8px;
}

.opinions-section {
    margin: 32px;
}

.opinion-card {
    background: var(--md-sys-color-inverse-on-surface);
    border-radius: 15px;
    min-height: 176px;
    margin-bottom: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.opinion-card-author {
    margin-left: 32px;
    margin-right: 32px;
    flex: 1;
    margin-top: auto;
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(32, 26, 25, 0.6);
}

.opinion-card-quotation {
    margin-right: 16px;
    margin-top: 8px;
}

.opinion-card-text {
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}
