@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-1 {
    flex: 1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.auth-page {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.auth-card {
    min-width: 541px;
    background: var(--md-sys-color-surface);
    border: 1px solid #C00010;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-image {
    margin-top: 42px;
    width: 125px;
    height: 125px;
}

.auth-app-name {
    margin-top: 24px;
}

.login-bottom-text {
    margin-top: 16px;
    margin-bottom: 53px;
}

.register-date-text {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 54px;
}

.register-date-picker {
    margin-left: 26px;
}

.register-gender {
    width: 100%;
    margin-left: 43px;
}

.register-gender-text {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 6px;
}

.register-radio-group {
}

.register-radio-group label {
    margin-right: 8px;
}

.register-radio-group input {
    margin-right: 6px;
}

.register-bottom-div {
    margin-bottom: 53px;
}

.error-span {
    color: var(--md-sys-color-error);
}

.auth-button {
    width: 238px;
    margin-top: 40px;
    margin-bottom: 8px;
}

.auth-error-span {
    margin-top: 8px;
    white-space: pre-line;
    text-align: center;
    line-height: 20px;
}

.toolbar {
    height: 82px;
    background: var(--md-sys-color-surface);
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
}

.toolbar-props {
    align-items: center;
    margin-right: 32px;
}

.toolbar-logo {
    align-items: center;
}

.toolbar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.toolbar-line {
    position: relative;
    width: 100%;
    height: 1px;
    background: var(--md-sys-color-on-surface);
    margin-top: auto;
}

.button-primary {
    border-radius: 15px;
    background: var(--md-sys-color-primary);
    text-align: center;
    padding: 0 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-primary span {
    color: var(--md-sys-color-on-primary);
}

.button-outlined {
    border-radius: 15px;
    border: 1px solid var(--md-sys-color-primary);
    background: var(--md-sys-color-surface);
    text-align: center;
    padding: 0 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-outlined span {
    color: var(--md-sys-color-on-surface);
}

.form-control {
    box-sizing: border-box;
    width: 90%;
    position: relative;
    margin-top: 16px;
}

.form-control input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #333;
    background: var(--md-sys-color-surface);
    padding: 8px 0;
    display: block;
    transition: 0.1s ease-in;
}

.form-control input:focus,
.form-control input:valid {
    border-bottom-color: var(--md-sys-color-primary);
    outline: none;
}

.form-control label input:focus,
.form-control input:valid {
    border-bottom-color: var(--md-sys-color-primary);
    outline: none;
}

.survey-container {
    margin: 24px;
    padding: 16px;
    background: var(--md-sys-color-surface);
    border: 1px solid #C00010;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.survey-container-body {
    margin-top: 16px;
    margin-bottom: 24px;
}

.survey-qas-container {
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
}

.survey-question {
    margin-top: 8px;
    margin-bottom: 24px;
    text-align: center;
}

.survey-radio-button {
    margin-bottom: 8px;
    align-items: center;
}

.survey-radio-button input {
    margin-right: 24px;
    margin-left: 24px;
}

.survey-radio-button-large {
    width: 48px;
    height: 48px;
}

.survey-radio-button-small {
    width: 32px;
    height: 32px;
}

.survey-radio-button-medium {
    width: 24px;
    height: 24px;
}


.survey-radio-button span {
}

.survey-error-span {
    margin-top: 16px;
}

.toolbar-login-button {
    margin-left: 16px;
}

.mission-section {
    margin: 32px;
    align-items: center;
}

.mission-text {
    margin-top: 24px;
    text-align: center;
}

.mission-auth-section {
    margin-top: 32px;
    align-items: center;
    margin-bottom: 32px;
}

.mission-auth-or-text {
    margin-left: 16px;
    margin-right: 16px;
}

.profile-card-cancel-button {
    margin-right: 8px;
}

.profile-card-short {
    background: var(--md-sys-color-inverse-on-surface);
    border-radius: 15px;
    width: 100%;
    height: 300px;
    margin-bottom: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.profile-card-short-img {
    border-radius: 15px;
    object-fit: cover;
    width: 372px;
}

.profile-card-short-info {
    flex: 100;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

.profile-card-short-name {
    margin-top: 18px;
}

.profile-card-short-line {
    border: 1px solid var(--md-sys-color-on-surface);
    width: 100%;
    margin-top: 12px;
    margin-bottom: 8px;
}

.opinions-section {
    margin: 32px;
}

.opinion-card {
    background: var(--md-sys-color-inverse-on-surface);
    border-radius: 15px;
    min-height: min-content;
    margin-bottom: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-bottom: 2rem;
}

.opinion-card-author {
    margin-left: 32px;
    margin-right: 32px;
    flex: 1;
    margin-top: auto;
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(32, 26, 25, 0.6);
}

.opinion-card-quotation {
    margin-right: 16px;
    margin-top: 8px;
}

.opinion-card-text {
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

.icon-text {
    text-align: center;
    margin-right: 16px;
    margin-left: 24px;
}

.icon-img {
    cursor: pointer;
    width: 46px;
}

.home-card {
    background: var(--md-sys-color-inverse-on-surface);
    border-radius: 15px;
    min-height: 743px;
    margin: 92px 120px 107px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: block;
}

.home-card-img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.home-card-icon {
    float: left;
    margin-left: 66px;
    width: 100px;
    margin-top: 55px;
    cursor: pointer;
    position: relative;
}

.home-card-icon-right {
    float: right;
    width: 110px;
    margin-right: 66px;
    margin-top: 55px;
    cursor: pointer;
    position: relative;
}

.home-card-name {
    position: relative;
    margin-top: 55px;
    text-align: center;
}

.home-container {
    position: fixed;
    max-height: 100%;
    max-width: 100%;
}

.home-page-description {
    text-align: center;
    padding-left: 237px;
    padding-right: 237px;
    text-align-all: center;
}

.center-cropped {
    background-position: center center;
    background-repeat: no-repeat;
}