@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.auth-page {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.auth-card {
    min-width: 541px;
    background: var(--md-sys-color-surface);
    border: 1px solid #C00010;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-image {
    margin-top: 42px;
    width: 125px;
    height: 125px;
}

.auth-app-name {
    margin-top: 24px;
}

.login-bottom-text {
    margin-top: 16px;
    margin-bottom: 53px;
}

.auth-button {
    width: 238px;
    margin-top: 40px;
}

.button-primary {
    border-radius: 15px;
    background: var(--md-sys-color-primary);
    text-align: center;
    padding: 0 16px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-primary span {
    color: var(--md-sys-color-on-primary);
}

.form-control {
    box-sizing: border-box;
    width: 90%;
    position: relative;
    margin-top: 16px;
}

.form-control input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #333;
    background: var(--md-sys-color-surface);
    padding: 8px 0;
    display: block;
    transition: 0.1s ease-in;
}

.form-control input:focus,
.form-control input:valid {
    border-bottom-color: var(--md-sys-color-primary);
    outline: none;
}

.form-control label input:focus,
.form-control input:valid {
    border-bottom-color: var(--md-sys-color-primary);
    outline: none;
}
